# Config & Documentation
*.md text eol=crlf
*.json text eol=crlf
*.yml text eol=crlf
# Source files
*.js text eol=crlf
*.ts text eol=crlf
*.ejs text eol=crlf
# Binary files
*.doc filter=lfs diff=lfs merge=lfs -text
*.msg filter=lfs diff=lfs merge=lfs -text
*.oft filter=lfs diff=lfs merge=lfs -text
